@{
    ViewBag.Title = "Registro no encontrado";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <title>Registro no Encontrado</title>
</head>
<body>
    <div class="Index">
        <h2>REGISTRO NO ENCONTRADO!!</h2>
        <a href="~/Views/Home/Index.cshtml" class="enlaceboton">Regresar a Busqueda</a>
    </div>
</body>
</html>

